@charset "utf-8" ;

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
}

/* ★ header */
header {
    position: relative;
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    display: flex; /* 다른 이름을 가진 경우 나란히 정렬하고자 할 경우 flex를 활용한다. */
    justify-content: flex-end; /* 지정된 영역 내에서 양 끝으로 보내 일정한 간격을 만든다. */
    /* flex-end : 오른쪽으로 정렬
        space-between : 양 끝으로 정렬 */
}
header nav ul li {
    display: inline-block; /* 가로로 나열 + 정확한 수치를 알 수 없는 공백 생성 */
    line-height: 100px;
    margin-left: 30px;
}
header h1 {
    position: absolute;
    top: 50%;
    left: 0;
    /* 끽하면 레이아웃 리세팅될 수 있음 - 포지션 앱솔루트 + 릴레티브 */
    transform: translateY(-50%); /* 이동한 값의 -50% 정도만큼 역이동(-) 요구 */
    font-size: 0; /* 이미지 = line-height 적용X*/
}


/* ★ main_visual */
.main_visual {
    height: 800px;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ★ cont01 */
.cont01 {
    width: 1280px;
    margin: 100px auto;
}
.cont01 h3 {
    font-size: 30px;
    margin-bottom: 40px;
}
.cont01 .list {
    display: flex;
    justify-content: space-between;
}
.cont01 .list div {
    width: 300px;
}
.cont01 .list div figure {
    width: 100%;
    height: 300px;
}
.cont01 .list div figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.cont01 .list div p {
    margin-top: 20px;
    text-align: center;
    word-break: keep-all; /* 텍스트 단어로 줄바꿈 */
}


/* ★ cont02 */
.cont02 {
    background-color: rgba(220, 243, 250, 0.514);
    padding: 100px 0;
}
.cont02 .inner {
    width: 1280px;
    margin: 0 auto;
}
.cont02 .inner h3 {
    font-size: 30px;
    margin-bottom: 40px;
}
.cont02 .inner .list {
    display: flex;
    justify-content: space-between;
}
.cont02 .inner .list .item {
    width: 300px;
    background-color: #fff;
    position: relative;
    height: 400px;
}
.cont02 .inner .list .item figure {
    width: 100%;
    height: 210px;
}
.cont02 .inner .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont02 .inner .list .item div {
    padding: 30px;
    word-break: keep-all;
}
.cont02 .inner .list .item div span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    color: #fff;
    padding: 5px 10px;
}
.cont02 .inner .list .item div strong {
    margin-top: 50px;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 30px;
}


/* ★footer */
footer {
    padding: 70px 0;
    text-align: center;
    font-size: 14px;
}