@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #fff;
    height: 2000px; /* test용 */
}


/* ★ header */
header {
    background-color: rgba(64, 78, 24, 0.473);
    height: 100px;
    width: 100%; /* position 가로 세로값 정해져있지 않을 경우 자식들의 사이즈 기준으로 좌측상단에 고정됨. 어쨌든 잡아줘야함 */
    position: fixed;
    top: 0;
    left: 0;
    /* 이미지 위에 헤더를 두고자 할 경우 선택자 헤더에게 포지션을 배치해야 함 - *fixed 또한 기준 위치선을 정해야함 */
}
header .inner {
    width: 1280px;
    line-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .inner ul li {
    display: inline-block;
    line-height: 100px;
}
header .inner nav ul li {
    margin: 0 20px;
}
header .inner .user li {
    margin-left: 10px;
}


/* main visual */
.main_visual {
    height: 100vh;
    /* vh : 브라우저 높이 - 전체영역 > %는 선택자 부모의 크기를 기준으로 한다. */
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}